<div>
  <div class="menu-bar">
    <button mat-stroked-button color="primary" type="button" [matMenuTriggerFor]="menuLang"><span [translate]="'demo.languageSelection'"></span></button>
    <mat-menu #menuLang="matMenu">
      <button mat-menu-item (click)="langClick('fr')"><span [translate]="'demo.languages.fr'"></span></button>
      <button mat-menu-item (click)="langClick('en')"><span [translate]="'demo.languages.en'"></span></button>
    </mat-menu>
    <button mat-stroked-button color="primary" type="button" [matMenuTriggerFor]="menuCurrency"><span [translate]="'demo.currencySelection'"></span></button>
    <mat-menu #menuCurrency="matMenu">
      <button mat-menu-item (click)="currencyClick('EUR')"><span [translate]="'demo.currency.EUR'"></span></button>
      <button mat-menu-item (click)="currencyClick('USD')"><span [translate]="'demo.currency.USD'"></span></button>
    </mat-menu>
    <button mat-stroked-button color="primary" type="button" [matMenuTriggerFor]="menuTimezone"><span [translate]="'demo.timezoneSelection'"></span></button>
    <mat-menu #menuTimezone="matMenu">
      <button mat-menu-item (click)="timezoneClick('GMT-5')"><span [translate]="'demo.timezone.boston'"></span></button>
      <button mat-menu-item (click)="timezoneClick('GMT-7')"><span [translate]="'demo.timezone.phoenix'"></span></button>
      <button mat-menu-item (click)="timezoneClick('GMT+1')"><span [translate]="'demo.timezone.paris'"></span></button>
    </mat-menu>
  </div>
  <div class="example-box">
    <h3 [translate]="'demo.translationHeader'"></h3>
    <p [translate]="'demo.greeting'" [translateParams]="{name: 'Covetrus'}"></p>
    <ul>
      <li [translate]="'demo.pluralization.things'" translate [translateParams]="{ count: 0 }"></li>
      <li [translate]="'demo.pluralization.things'" translate [translateParams]="{ count: 1 }"></li>
      <li [translate]="'demo.pluralization.things'" translate [translateParams]="{ count: 2 }"></li>
    </ul>
    <ul>
      <li [translate]="'demo.pluralization.people'" translate [translateParams]="{ gender: 'female' }">people</li>
      <li [translate]="'demo.pluralization.people'" translate [translateParams]="{ gender: 'male' }">people</li>
      <li [translate]="'demo.pluralization.people'" translate [translateParams]="{ gender: 'other' }">people</li>
    </ul>
  </div>
  <div class="example-box">
    <h3 [translate]="'demo.currencyHeader'"></h3>
    <p>{{100.00 | currency : currencyVal}}</p>
  </div>
  <div class="example-box">
    <h3 [translate]="'demo.dateTimeHeader'"></h3>
    <p>{{1605198654458 | date : 'medium' : timezoneVal}}</p>
  </div>
</div>
