<div>
  <div>
    <p [translate]="'demo.languageSelection'"></p>
    <button mat-button type="button" [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="click('fr')"><span [translate]="'demo.languages.fr'"></span></button>
      <button mat-menu-item (click)="click('en')"><span [translate]="'demo.languages.en'"></span></button>
    </mat-menu>
  </div>
  <div>
    <p [translate]="'demo.greeting'" [translateParams]="{name: 'Covetrus'}"></p>
    <ul>
      <li [translate]="'demo.pluralization.things'" translate [translateParams]="{ count: 0 }"></li>
      <li [translate]="'demo.pluralization.things'" translate [translateParams]="{ count: 1 }"></li>
      <li [translate]="'demo.pluralization.things'" translate [translateParams]="{ count: 2 }"></li>
    </ul>
    <ul>
      <li [translate]="'demo.pluralization.people'" translate [translateParams]="{ gender: 'female' }">people</li>
      <li [translate]="'demo.pluralization.people'" translate [translateParams]="{ gender: 'male' }">people</li>
      <li [translate]="'demo.pluralization.people'" translate [translateParams]="{ gender: 'other' }">people</li>
    </ul>
  </div>
</div>
